* {
    box-sizing: border-box;
}

header {
    display: inline;
}

body {
    margin: 0;
    padding: 0;
    font-family: Verdana, sans-serif;
}

.jumbotron {
    padding: 60px;
    background-color: #FA7070;
    text-align: center;
    font-size: 20px;
    color: white;
}

.flex-container-column{
    width: 600px;
    margin: 30px auto;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.flex-container-column div {
    width: 120px;
    height: 200px;
    margin: 2px;
}

.cat {
    width: 1000px;
    margin: 30px auto;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.cat div {
    width: 300px;
    height: 250px;
    margin: 2px;
}


nav li {
    display: inline;
    list-style-type: none;
    margin-right: 20px;
  }

nav {
    background-color: #FF9494;
    padding: 5px;
    position: sticky;
    top: 0;
}

nav a {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: white;
}

#description {
    background: #FECEAB;
    padding: 20px;
    padding-top: 3rem;
    text-align: center;
}

#description img {
    width: 120px;
    padding: 20px;
    display: inline;
    vertical-align: middle;
}

#categories {
    background: #FFF2F2;
    padding: 20px;
    padding-top: 3rem;
    text-align: center;
}

#categories img {
    width: 250px;
    padding: 20px;
    display: inline;
    vertical-align: middle;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  width: 250px;
}

@media screen and (max-width: 1000px) {
  #content, #description, #categories {
      width: 100%;
      padding: 0;
  }
}

/* Footer */ 
footer {
    background-color: #FA7070;
    display: flex;
    justify-content: space-evenly;
}

@media (max-width: 28.75em) {
footer {
    flex-direction: column;
    text-align: center;
    }
}